.container{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    justify-content: space-around;
    width: 15rem;
    height: 5rem;
    align-items: center;
    .box{
        background-color: red;
    }
}

.box{
    background-color: red;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

@media (min-width: 720px) {
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }
}